/node_modules
/vendor/
npm-debug.log
yarn-error.log
storage/
.env
.env.backup
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache
.editorconfig
.env.example
.gitattributes
.styleci.yml
bootstrap/
artisan
composer.lock
config/
presets/
public/argon
public/assets
app/public/episodes
app/public/users
LICENSE
README.md
package-lock.json